@import "tailwindcss";

@theme {
  --color-primary: #A31135;
  --color-primary-dark: #7A0D28;
  --color-primary-light: #D91A4D;
  --color-bg-gray: #F9FAFB;
}

/* Custom Utilities */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #f3f4f6;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  /* overflow: hidden; Prevents double scrollbars on desktop */
}